<div class="container album-section">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="album-item">
        <img src="/assets/img/album/img01.png" alt="교육 이미지 1" class="img-fluid">
        <div class="album-title">
          <h3>기업 교육</h3>
          <p>임직원 역량 강화 프로그램</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="album-item">
        <img src="\assets\img\album\img02.jpg" alt="교육 이미지 2" class="img-fluid">
        <div class="album-title">
          <h3>리더십 교육</h3>
          <p>차세대 리더 양성 과정</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="album-item">
        <img src="/assets/img/album/img03.png" alt="교육 이미지 3" class="img-fluid">
        <div class="album-title">
          <h3>조직 문화</h3>
          <p>건강한 조직문화 만들기</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="album-item">
        <img src="/assets/img/album/img04.png" alt="교육 이미지 4" class="img-fluid">
        <div class="album-title">
          <h3>커뮤니케이션</h3>
          <p>효과적인 의사소통 방법</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="album-item">
        <img src="/assets/img/album/img05.png" alt="교육 이미지 5" class="img-fluid">
        <div class="album-title">
          <h3>팀 빌딩</h3>
          <p>협업과 신뢰 구축 워크샵</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="album-item">
        <img src="/assets/img/album/img06.png" alt="교육 이미지 6" class="img-fluid">
        <div class="album-title">
          <h3>혁신 교육</h3>
          <p>창의적 문제해결 과정</p>
        </div>
      </div>
    </div>
  </div>
</div> 